<a href="https://colab.research.google.com/github/rininuruls/PROJECT-UAS-BIG-DATA/blob/main/DataCleaning_Beasiswa_BAZNAS_Rini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataCleaningExample").getOrCreate()

In [3]:
df = spark.read.csv('/content/Dataset_Beasiswa_BAZNAS_Indonesia.csv', header=True, inferSchema=True)
df.show(5)

+---+-------+-------------------+-----------------+----+--------+----+----------------+--------------------+-------------------+-------------+
| ID|   Nama|Pendapatan_Keluarga|Jumlah_Tanggungan| IPK|Semester|Usia|Status_Orang_Tua|Aktivitas_Organisasi|Pekerjaan_Sampingan|Skor_Motivasi|
+---+-------+-------------------+-----------------+----+--------+----+----------------+--------------------+-------------------+-------------+
|  1|   Gita|            3213573|                5|3.94|       4|  19|           Yatim|               Aktif|                Ada|           91|
|  2|   Tari|            1525893|                4|3.23|       1|  18|     Yatim Piatu|         Tidak Aktif|                Ada|           91|
|  3|   Omar|            4610102|                4|2.66|       7|  24|           Yatim|               Aktif|          Tidak Ada|           69|
|  4|Kartini|            3169455|                3|3.32|       7|  22|           Yatim|         Tidak Aktif|                Ada|           58|
|  5| Hendra|            3255363|                3|3.18|       1|  22|           Piatu|         Tidak Aktif|                Ada|           66|
+---+-------+-------------------+-----------------+----+--------+----+----------------+--------------------+-------------------+-------------+
only showing top 5 rows

In [4]:
df.printSchema()
df.describe().show()
df.columns

root
 |-- ID: integer (nullable = true)
 |-- Nama: string (nullable = true)
 |-- Pendapatan_Keluarga: integer (nullable = true)
 |-- Jumlah_Tanggungan: integer (nullable = true)
 |-- IPK: double (nullable = true)
 |-- Semester: integer (nullable = true)
 |-- Usia: integer (nullable = true)
 |-- Status_Orang_Tua: string (nullable = true)
 |-- Aktivitas_Organisasi: string (nullable = true)
 |-- Pekerjaan_Sampingan: string (nullable = true)
 |-- Skor_Motivasi: integer (nullable = true)

+-------+-----------------+------+-------------------+------------------+------------------+-----------------+-----------------+----------------+--------------------+-------------------+------------------+
|summary|               ID|  Nama|Pendapatan_Keluarga| Jumlah_Tanggungan|               IPK|         Semester|             Usia|Status_Orang_Tua|Aktivitas_Organisasi|Pekerjaan_Sampingan|     Skor_Motivasi|
+-------+-----------------+------+-------------------+------------------+------------------+-----------------+-----------------+----------------+--------------------+-------------------+------------------+
|  count|             1000|  1000|               1000|              1000|              1000|             1000|             1000|            1000|                1000|               1000|              1000|
|   mean|            500.5|  NULL|        2986426.672|             4.052|3.2479600000000004|            4.384|           21.105|            NULL|                NULL|               NULL|            74.612|
| stddev|288.8194360957494|  NULL| 1133563.7241771452|1.9832370582533074|0.4309846704770206|2.297786722875696|2.008982581062118|            NULL|                NULL|               NULL|14.973364941043059|
|    min|                1|Aisyah|            1000126|                 1|               2.5|                1|               18|         Lengkap|               Aktif|                Ada|                50|
|    max|             1000|  Zaki|            4981298|                 7|               4.0|                8|               24|     Yatim Piatu|         Tidak Aktif|          Tidak Ada|               100|
+-------+-----------------+------+-------------------+------------------+------------------+-----------------+-----------------+----------------+--------------------+-------------------+------------------+

['ID',
 'Nama',
 'Pendapatan_Keluarga',
 'Jumlah_Tanggungan',
 'IPK',
 'Semester',
 'Usia',
 'Status_Orang_Tua',
 'Aktivitas_Organisasi',
 'Pekerjaan_Sampingan',
 'Skor_Motivasi']

In [5]:
df_clean = df.dropDuplicates()

In [6]:
df_clean = df_clean.na.drop()  # Hapus baris dengan NULL

In [7]:
df_clean = df_clean.na.drop(subset=["Nama"])

In [8]:
df_filled = df.fillna({'Usia': 0, 'Pekerjaan_Sampingan': 'Unknown'})

In [9]:
from pyspark.sql.functions import lower
df_clean = df_clean.withColumn('nama', lower(df_clean['nama']))

In [10]:
from pyspark.sql.functions import col
df_clean = df_clean.withColumn('Usia', col('Usia').cast('int'))

In [11]:
from pyspark.sql.functions import col

# Baca file CSV dengan header dan infer schema
df = spark.read.csv('/content/Dataset_Beasiswa_BAZNAS_Indonesia.csv', header=True, inferSchema=True)

# Hapus data duplikat
df = df.dropDuplicates()

# Hapus baris yang kolom "Nama"-nya kosong
df = df.na.drop(subset=["Nama"])

# Isi nilai kosong di kolom "Pekerjaan_Sampingan" dengan 'Unknown'
df = df.fillna({'Pekerjaan_Sampingan': 'Unknown'})

# Ubah tipe data kolom "Usia" menjadi integer
df = df.withColumn('Usia', col('Usia').cast('int'))

# Tampilkan data
df.show()

+---+------+-------------------+-----------------+----+--------+----+----------------+--------------------+-------------------+-------------+
| ID|  Nama|Pendapatan_Keluarga|Jumlah_Tanggungan| IPK|Semester|Usia|Status_Orang_Tua|Aktivitas_Organisasi|Pekerjaan_Sampingan|Skor_Motivasi|
+---+------+-------------------+-----------------+----+--------+----+----------------+--------------------+-------------------+-------------+
| 23| Fajar|            4449299|                2|2.88|       7|  24|           Piatu|               Aktif|                Ada|           74|
| 46|   Ika|            1064323|                6|3.61|       8|  20|     Yatim Piatu|               Aktif|          Tidak Ada|           72|
|413|  Nina|            4480130|                1|3.51|       6|  20|     Yatim Piatu|               Aktif|          Tidak Ada|           87|
|486| Sandi|            1090093|                7|2.55|       2|  21|         Lengkap|         Tidak Aktif|          Tidak Ada|           98|
|523|  Budi|            3006032|                1|3.45|       6|  22|           Yatim|               Aktif|          Tidak Ada|           97|
|579|  Qori|            2315573|                5|2.67|       2|  18|         Lengkap|         Tidak Aktif|                Ada|           52|
|636|  Rani|            4297291|                5|2.75|       3|  18|         Lengkap|               Aktif|          Tidak Ada|           65|
|951| Citra|            2123994|                4|2.68|       4|  24|     Yatim Piatu|               Aktif|                Ada|           73|
| 67|Hendra|            1282272|                5|3.42|       8|  24|           Yatim|               Aktif|          Tidak Ada|           59|
|877|  Omar|            4280772|                6|2.51|       2|  20|     Yatim Piatu|               Aktif|          Tidak Ada|           95|
| 68|  Dedi|            1385925|                3|3.66|       8|  21|     Yatim Piatu|         Tidak Aktif|          Tidak Ada|           96|
|241|  Vina|            1125885|                5|3.93|       7|  19|           Piatu|         Tidak Aktif|                Ada|           59|
|257|  Tari|            1890695|                1|3.86|       4|  22|           Yatim|               Aktif|                Ada|           80|
|604| Sandi|            3790416|                1|2.71|       3|  20|           Piatu|               Aktif|          Tidak Ada|           74|
|861|  Qori|            3462616|                3|3.04|       5|  23|           Yatim|         Tidak Aktif|          Tidak Ada|           67|
|483| Citra|            2490077|                1|2.62|       4|  22|           Yatim|               Aktif|          Tidak Ada|           75|
|514|Aisyah|            2366853|                4|3.27|       5|  24|     Yatim Piatu|               Aktif|          Tidak Ada|           67|
|679|  Rani|            1204615|                7|3.94|       8|  22|     Yatim Piatu|         Tidak Aktif|                Ada|           98|
|979|  Budi|            4873683|                6|3.91|       1|  22|         Lengkap|               Aktif|          Tidak Ada|           78|
|402|  Rani|            2256182|                3|3.02|       5|  19|           Yatim|         Tidak Aktif|                Ada|           55|
+---+------+-------------------+-----------------+----+--------+----+----------------+--------------------+-------------------+-------------+
only showing top 20 rows

In [12]:
df.write.csv('cleaned_data.csv', header=True, mode='overwrite')